body {
  background-color: #1f2937;
  color: #ffffff;
  font-family: "Nunito";
}

a:link,
a:visited {
  color: #ffffff;
  background-color: transparent;
  text-decoration: none;
}

h1,
h2 {
  margin: 0 20px;
}

section {
  position: relative;
  margin: 0;
  padding: 0;
}

body > header,
body > nav,
body > section,
body > footer {
  margin: 0 auto;
  width: 80%;
  padding: 10px;
}

body > header,
body > footer {
  background-color: #374151;
  color: #ffffff;
}

body > nav {
  background-color: #3e4858;
}

section footer p {
  padding: 0;
  margin: 0;
}

article {
  padding: 0;
  margin: 20px -10px;
  border: 1px solid #374151;
  border-radius: 5px;
  background-color: #3e4858;
}

article > div {
  background-color: #374151;
  padding: 20px;
}

article > header {
  padding: 10px;
}

article > header > h2 {
  padding: 0;
  margin: 0;
}

article > footer {
  text-align: right;
  padding: 5px;
  font-size: 90%;
  color: #ffffff;
}

form {
  width: 70%;
  padding: 10px 0;
  margin: 0 auto;
  background-color: #3e4858;
  border-radius: 5px;
  text-align: center;
}

form h2 {
  margin: 0;
  padding: 5px 10px;
  text-align: left;
}

input,
textarea {
  width: 93%;
  margin: 5px;
  border-radius: 5px;
  padding: 2%;
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: #000;
  border: 1px solid #888;
}

button, input[type=submit] {
  font-weight: bold;
  background-color: #2563eb;
  margin: 10px auto;
  width: 50%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #2563eb;
  font-size: 120%;
  color: #ffffff;
}

section > aside {
  float: right;
  width: 29%;
  font-weight: bold;
  background-color: #3e4858;
  text-shadow: 1px 1px #3e4858;
  text-align: center;
  border-radius: 5px;
}

input[type=submit] {
  background-color: #dc3545;
  border-color: #dc3545;
}

.center {
  margin: 0 auto;
}

.user-info {
  text-align: right;
  font-size: 22px;
}
.user-info a {
  text-decoration: underline;
}
.user-info a:hover {
  color: #2563eb;
}
.user-info table {
  width: 50%;
  margin: 40px auto;
  background-color: #374151;
  border-collapse: collapse;
}
.user-info table tbody tr {
  border: 1px solid #1f2937;
  text-align: center;
}
.user-info table tbody th {
  border: 1px solid #1f2937;
  text-align: center;
}
.user-info table tbody td {
  border: 1px solid #1f2937;
  text-align: center;
}

.info-section {
  font-size: 22px;
}
.info-section p a {
  text-decoration: underline;
}
.info-section p a:hover {
  color: #2563eb;
}

footer nav {
  font-size: 14px;
}
footer nav a {
  text-decoration: underline;
  font-size: 12px;
}
footer nav a:hover {
  color: #2563eb;
}
footer nav form input {
  width: 40%;
}

.topic-list {
  text-align: center;
  font-size: 22px;
}
.topic-list table {
  width: 100%;
}
.topic-list a {
  text-decoration: underline;
}
.topic-list a:hover {
  color: #2563eb;
}

.images-table table caption {
  width: 100%;
  font-size: 22px;
}
.images-table table tbody tr td, .images-table table tbody tr th {
  font-size: 18px;
  text-align: center;
  align-items: center;
}

.image {
  font-size: 18px;
}
.image a {
  text-decoration: underline;
  font-size: 12px;
}
.image a:hover {
  color: #2563eb;
}
.image img {
  max-width: 25%;
}/*# sourceMappingURL=style.css.map */